@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


* {
    padding: 0%;
    margin: 0px;
}


/* color */

.white {
    color: rgb(212, 212, 212);
}

.width1440 {
    width: 1440px;
}

body {
    background-color: #e2e2e2;
}

/* navbanner */

.navbanner {
    height: 880px;
    display: grid;
    /* grid-column: 1/3; */
    grid-template-rows: 0.5fr 5fr 2fr 3fr;
    background-image: url(../images/navbanner/bg2.png);
    background-size: cover;
}

.navbar {
    /* background-color: rgba(255, 255, 255, 0.249); */
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 30px;
    margin-right: 20px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navigation>a {
    list-style: none;
    text-decoration: none;
    color: #000;
}

.navigation>a:hover {
    font-size: 20px;
}

.navigation>button {
    width: 98px;
    height: 39px;
    border-radius: 15px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navigation>.signup {
    color: #33603A;
    background-color: #CAE7CF;
}

.navigation>.signin {
    color: #CAE7CF;
    background-color: #33603A;
}

.banner>h3 {
    font-size: 24px;
    margin: 10px;
}

.banner>p {
    width: 572px;
    font-size: 16px;
    margin: 10px;
    line-height: 28px;
    font-family: 'Libre Baskerville', sans-serif;
}

.banner>a {
    position: absolute;
    margin: 10px;
    text-decoration: underline;
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Libre Baskerville', sans-serif;
}

.banner>a>i {
    position: relative;
    top: 2px;
    left: 9px;
}

/* farmers */

.farmers {
    background-color: white;
    height: 770px;
    display: grid;
    grid-template-rows: 10% auto;
}

.farmers>.heading {
    display: flex;
    align-items: end;
    font-size: 24px;
    color: #33603A;
    letter-spacing: 1px;
}

.farmers>.heading>i {
    margin-left: 20px;
    font-size: 32px;
    margin-right: 20px;
}

.farmers>.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.farmers>.cards>.card {
    position: relative;
    height: 524px;
    width: 335px;
    background-color: #33603A;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    justify-items: center;
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Libre Baskerville', sans-serif;
}

.farmers>.cards>.card:hover {
    height: 572px;
    width: 366px;
}

.farmers>.cards>.card>h3 {
    width: 295px;
    font-size: 20px;
    margin-left: 20px;
    line-height: 30px;
}

.farmers>.cards>.card>p {
    padding-top: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.farmers>.cards>.card1 {
    background-image: linear-gradient(rgba(255, 188, 188, 0),
            rgba(255, 255, 255, 0.293),
            rgb(255, 255, 255)), url(../images/verified_farmers/farmer1.jpg);
    background-size: cover;
    background-position: center;
}

.farmers>.cards>.card2 {
    background-image: linear-gradient(rgba(255, 188, 188, 0),
            rgba(255, 255, 255, 0.293),
            rgb(255, 255, 255)), url(../images/verified_farmers/farmer2.jpg);
    background-size: cover;
    background-position: center right;
}

.farmers>.cards>.card3 {
    background-image: linear-gradient(rgba(255, 188, 188, 0),
            rgba(255, 255, 255, 0.293),
            rgb(255, 255, 255)), url(../images/verified_farmers/farmer3.jpg);
    background-size: cover;
    background-position: center;
}

/* Florist */

.florist {
    background-color: white;
    margin: 0px 20px;
    height: 970px;
    display: grid;
    grid-template-rows: 10% auto;
    justify-items: center;
}


.florist>.heading {
    justify-self: start;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #33603A;
    letter-spacing: 1px;

}

.florist>.heading>i {
    font-size: 32px;
    margin-right: 20px;
    margin-left: 20px;
}

.florist>.cards {
    width: 90%;
    height: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    align-self: center;
}

.florist>.cards>.card {
    background-color: aliceblue;
    height: 360px;
    width: 570px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;

}

.florist>.cards>.card1 {

    background: url(../images/florists/florist1.jpg);
    background-size: cover;
    position: relative;
}

.florist>.cards>.card2 {

    background: url(../images/florists/florist2.jpg);
    background-size: cover;
    position: relative;
}

.florist>.cards>.card3 {

    background: url(../images/florists/florist3.jpg);
    background-size: cover;
    position: relative;
}

.florist>.cards>.card4 {

    background: url(../images/florists/florist4.jpg);
    background-size: cover;
    position: relative;
}

.florist>.cards>.card>.layer {
    border-radius: 14px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.00) 40.70%, #FFF 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 25% auto 20%;
}

.florist>.cards>.card>.layer>.topnav {
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.florist>.cards>.card>.layer>.topnav>.left {
    display: flex;
    align-items: center;
}

.florist>.cards>.card>.layer>.topnav>.left>.circle {
    margin-right: 15px;
    height: 72px;
    width: 72px;
    border-radius: 72px;
    -webkit-border-radius: 72px;
    -moz-border-radius: 72px;
    -ms-border-radius: 72px;
    -o-border-radius: 72px;
    background-color: #CAE7CF;
    background-image: url(../images/florists/userimage/uimage1.jpg);
    background-size: cover;
}

.florist>.cards>.card>.layer>.topnav>.left>.name {
    font-style: normal;
    font-weight: 5;
    line-height: 25px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.florist>.cards>.card>.layer>.namebar>h3 {
    font-size: 20px;
    margin-left: 20px;
    line-height: 30px;
    font-family: 'Libre Baskerville', sans-serif;
}

.florist>.cards>.card>.layer>.namebar>p {
    padding-top: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Libre Baskerville', sans-serif;
}

/* Achivements */

.achivements {

    margin: 0px 20px;
    height: 1480px;
    background-color: white;
    display: grid;
    grid-template-rows: 10% auto;
}

.achivements>.heading {
    justify-self: start;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #33603A;
    letter-spacing: 1px;

}

.achivements>.heading>i {
    margin-left: 20px;
    font-size: 32px;
    margin-right: 20px;
}

.achivements>.cards {
    margin: 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.achivements>.cards>.card {
    height: 550px;
    width: 460px;
    /* background-color: #CAE7CF; */
}

.achivements>.cards>.card>h1 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #33603A;
}

.achivements>.cards>.card>p {
    margin-top: 35px;
    color: #789B8D;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.48px;
    font-family: 'Libre Baskerville', sans-serif;
}

.achivements>.cards>.card2 {
    border-radius: 14px;
    background-image: url(../images/achivements/achive1.jpg);
    background-size: cover;
    box-shadow: 4px 10px 10px 0px rgba(0, 0, 0, 0.25);

}

.achivements>.cards>.card3 {
    border-radius: 14px;
    background-image: url(../images/achivements/achive2.jpg);
    background-size: cover;
    box-shadow: 4px 10px 10px 0px rgba(0, 0, 0, 0.25);

}

/* Available Flowers */

.aflowers {
    background-color: white;
    margin: 0px 20px;
    height: 600px;
    display: grid;
    grid-template-rows: 15% auto;
}

.aflowers>.heading {
    justify-self: start;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #33603A;
    letter-spacing: 1px;

}

.aflowers>.heading>i {
    margin-left: 20px;
    font-size: 32px;
    margin-right: 20px;
}

.aflowers>.cards {
    margin: 0px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aflowers>.cards>.card {
    width: 112px;
    height: 373px;
    border-radius: 14px;
    box-shadow: 4px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.aflowers>.cards>.card1 {
    background-image: url(../images/available_flowers/flower1.png);
    background-size: cover;
    background-position: center;
}

.aflowers>.cards>.card2 {
    background-image: url(../images/available_flowers/flower2.png);
    background-size: cover;
    background-position: center;
}

.aflowers>.cards>.card3 {
    background-image: url(../images/available_flowers/flower3.png);
    background-size: cover;
    background-position: center;
}

.aflowers>.cards>.card4 {
    background-image: url(../images/available_flowers/flower4.png);
    background-size: cover;
    background-position: center;
}

.aflowers>.cards>.card5 {
    background-image: url(../images/available_flowers/flower5.png);
    background-size: cover;
    background-position: center;
}

.aflowers>.cards>.card6 {
    background-image: url(../images/available_flowers/flower6.png);
    background-size: cover;
    background-position: center;
}

.aflowers>.cards>.card7 {
    background-image: url(../images/available_flowers/flower7.png);
    background-size: cover;
    background-position: center;
}

.aflowers>.cards>.card8 {
    background-image: url(../images/available_flowers/flower8.png);
    background-size: cover;
    background-position: center;
}

.aflowers>.cards>.card9 {
    background-image: url(../images/available_flowers/flower9.png);
    background-size: cover;
    background-position: center;
}

.aflowers>.cards>.card10 {
    background-image: url(../images/available_flowers/flower10.png);
    background-size: cover;
    background-position: center;
}

/* Offline shops */

.offlineshop {
    background-color: white;
    margin: 0px 20px;
    height: 1000px;
    display: grid;
    grid-template-rows: 13% auto;

}

.offlineshop>.heading {
    justify-self: start;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #33603A;
    letter-spacing: 1px;
    margin-bottom: 20px;

}

.offlineshop>.heading>i {
    margin-left: 20px;
    font-size: 32px;
    margin-right: 20px;
}

.offlineshop>.content {
    margin: 0% 118px;
    
}

.offlineshop>.content>.popularcity>h1 {
    color: #5E5E5E;
    font-size: 22px;
    font-family: 'Libre Baskerville', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offlineshop>.content>.popularcity>.cards {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}

.offlineshop>.content>.popularcity>.cards>.card {

    width: 217px;
    height: 155px;
    border-radius: 14px;
    background: #dcfff1;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: end;
}

.offlineshop>.content>.popularcity>.cards>.card1 {
    background-image: url(../images/popular_cities/madurai.png);
    background-size: cover;
    background-position: center;
}

.offlineshop>.content>.popularcity>.cards>.card2 {
    background-image: url(../images/popular_cities/theni.png);
    background-size: cover;
    background-position: center;
}

.offlineshop>.content>.popularcity>.cards>.card3 {
    background-image: url(../images/popular_cities/kodaikanal.png);
    background-size: cover;
    background-position: center;
}

.offlineshop>.content>.popularcity>.cards>.card4 {
    background-image: url(../images/popular_cities/selam.png);
    background-size: cover;
    background-position: center;
}

.offlineshop>.content>.popularcity>.cards>.card5 {
    background-image: url(../images/popular_cities/sivagangai.png);
    background-size: cover;
    background-position: center;
}


.offlineshop>.content>.popularcity>.cards>.card>.name {
    width: 217px;
    height: 66px;
    border-radius: 0px 0px 14px 14px;
    background: #789B8D;
    display: flex;
    justify-content: center;
    align-items: center;

}

.offlineshop>.content>.popularcity>.cards>.card>.name>h6 {
    color: #CAE7CF;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 5;
    line-height: normal;
}

/* .offlineshop>.content>.map{
    margin: 50px 0px 37px 0px;
} */

.offlineshop>.content>.map>h1 {
    margin: 50px 0px 37px 0px;
    color: #5E5E5E;
    font-size: 22px;
    font-family: 'Libre Baskerville', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offlineshop>.content>.map>.mapview {

    width: 1164px;
    height: 483px;
    background-color: #CAE7CF;
}

/* footer */

.footer {
    height: 721px;
    background: #D0DCD2;
    display: grid;
    grid-template-rows: auto 128.628px;
}

.footer>.content {
    display: flex;
    justify-content: space-evenly;
}

.footer>.content>.card>h1 {
    margin-top: 36px;
    margin-bottom: 29px;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.footer>.content>.card>h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.4px;
}

.footer>.iconfooter {
    border-radius: 67px 67px 0px 0px;
    background: #33603A;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer>.iconfooter>.icons {
    margin-top: 10px;
    width: 420px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer>.iconfooter>.copyright>h6 {
    color: #CAE7CF;
    text-align: center;
    font-size: 12px;
    font-family: 'Libre Baskerville', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Media query above 1440px screen */

@media screen and (min-width:1440px) {

    .navbar {
        width: 1440px;
        margin: 5px auto;
    }

    .navbanner>.banner {
        width: 1440px;
        margin: 0px auto;
    }

    .farmers {
        width: 1440px;
        margin: 0px auto;
    }

    .florist {
        width: 1440px;
        margin: 0px auto;
    }

    .achivements {
        width: 1440px;
        margin: 0px auto;
    }

    .aflowers {
        width: 1440px;
        margin: 0px auto;
    }

    .offlineshop {
        width: 1440px;
        margin: 0px auto;
    }

    .footer>.content {
        width: 1440px;
        margin: 0% auto;
    }

}

/* media query above 1024px screen */

@media only screen and (min-width:1024px) and (max-width:1439px) {

    .navbar {
        width: 1024px;
        margin: 5px auto;
    }

    .navbanner>.banner {
        width: 1024px;
        margin: 0px auto;
    }

    /* Farmers */

    .farmers {
        width: 1024px;
        margin: 0px auto;
        height: 570px;
        grid-template-rows: 20% auto;
    }

    .farmers>.heading {
        align-items: center;
    }


    .farmers>.cards>.card {
        width: 243.606px;
        height: 381.043px;
    }

    .farmers>.cards>.card>h3 {
        width: 223.606px;
        font-size: 18px;
        margin-left: 20px;
        line-height: 30px;
    }

    .farmers>.cards>.card>p {
        padding-top: 5px;
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    /* Florist */

    .florist {
        width: 1024px;
        margin: 0px auto;
        height: 700px;
    }

    .florist>.cards>.card {
        background-color: aliceblue;
        width: 396.646px;
        height: 252.411px;
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;

    }

    .florist>.cards>.card>.layer>.topnav {
        margin: 20px 15px 0px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .florist>.cards>.card>.layer>.topnav>.left>.circle {
        width: 54.061px;
        height: 54.061px;
    }

    .florist>.cards>.card>.layer>.namebar>h3 {
        font-size: 16px;
        margin-left: 20px;
        line-height: 28px;
        font-family: 'Libre Baskerville', sans-serif;
    }

    .florist>.cards>.card>.layer>.namebar>p {
        font-size: 14px;
        padding-top: 0px;
        margin-left: 20px;
        font-family: 'Libre Baskerville', sans-serif;
    }

    /* achivements */

    .achivements {
        width: 1024px;
        height: 1280px;
        margin: 0px auto;
    }

    .achivements>.cards>.card>h1 {

        margin-left: 22px;
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.8px;
        color: #33603A;
    }

    .achivements>.cards>.card>p {
        width: 377px;
        margin-top: 35px;
        margin-left: 25px;
        color: #789B8D;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0.48px;
        font-family: 'Libre Baskerville', sans-serif;
    }

    .achivements>.cards>.card2 {
        width: 377px;
        height: 548px;
    }

    .achivements>.cards>.card3 {
        width: 377px;
        height: 548px;
    }

    /* available flowers  */

    .aflowers {
        width: 1024px;
        margin: 0px auto;
        height: 500px;
    }

    .aflowers>.heading {
        align-items: flex-end;
    }

    .aflowers>.cards>.card {
        width: 84.47px;
        height: 296.564px;
    }

    /* Offline shops */

    .offlineshop {
        width: 1024px;
        height: 950px;
        margin: 0px auto;
        grid-template-rows: 8% auto;
    }

    .offlineshop>.content{
        width: 788px;
    }

    .offlineshop>.content>.popularcity>h1{
        font-size: 18px;
    }

    .offlineshop>.content>.map>h1 {
        font-size: 18px;
    }

    .offlineshop>.content>.popularcity>.cards>.card {

        width: 139.138px;
height: 155px;
    }

    .offlineshop>.content>.popularcity>.cards>.card>.name {
        width: 100%;
        height: 47px;
    }

    .offlineshop>.content>.popularcity>.cards>.card>.name>h6{
        font-size: 20px;
    }

    .offlineshop>.content>.map>.mapview{
        width: 785px;
height: 483px;
    }

    /* footer */
    .footer{
        height: 576.5px;
        grid-template-rows: auto 100px;
        
    }
    .footer>.content {
        width: 1024px;
        margin: 0% auto;
        justify-content: space-around;
    }

    .footer>.content>.card>h1{
        font-size: 20px;
    }
    
.footer>.content>.card>h2{
    font-size: 16px;
    margin-bottom: 10px;
}

}

/* media query above 768px screen */

@media only screen and (min-width:768px) and (max-width:1023px){

    .navbanner{

        height: 747px;
    
    }
    
    .navbar {
        width: 768px;
        margin: 0px auto;
        margin-top: 5px;
    }

    .navbanner>.banner{
        width: 768px;
        margin: 0px auto;
    }

    /* farmers */

    .farmers{
        width: 768px;
        margin: 0px auto;
    }

    .farmers>.cards{
        padding-left: 20px;
        overflow: auto;
        column-gap: 20px;
        white-space: nowrap;
        justify-content: flex-start;
    }

    .farmers>.cards>.card>h3 {
        width: 223.606px;
        font-size: 18px;
        /* margin-left: 20px; */
        line-height: 30px;
    }
    

}